/.org-id-locations
/ac-comphist.dat
/auto-save-list
/custom.el
/elpa/*
/image-dired/
/oauth2.plstore
/session.*
/tramp
/url/
/var/
*.elc
.DS_STORE
/*smex-items
/backups
/.recentf
/.python-environments
/.cask
/places
projectile.cache
cider-history
/customizations/.DS_STORE
flycheck_*
.edbi-ds-history
.session
\#*#
projectile-bookmarks.eld
.DS_STORE
recentf